<section class="booking-section">
  <h1 class="title">Reservation</h1>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="booking-form">
    <input type="text" formControlName="name" placeholder="Your name" required />
    <input type="text" formControlName="contact" placeholder="Email / contact" required />
    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" formControlName="date" placeholder="Preferable flight date" required />
    <button type="submit" [disabled]="bookingForm.invalid">Share contact</button>
  </form>
  
  <div class="links-container">
    <app-social-links></app-social-links>
  </div>
</section>