
<div class="back-container">
  <img [src]="'/assets/icons/arrow-back.png'" />
  <a routerLink="/locations" class="back-button">To all locations</a>
</div>

<section class="location-details">
  <div class="location-details-container">
    <div class="image-section">
      <div
        class="carousel"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        (mousedown)="onTouchStart($event)"
        (mouseup)="onTouchEnd($event)"
      >
        <button class="nav prev" (click)="prevImage()">‹</button>
        <img [src]="location.carousel[currentImageIndex]" [alt]="location.name" />
        <button class="nav next" (click)="nextImage()">›</button>
      </div>
      <div class="indicators">
        <span
          *ngFor="let img of location.carousel; let i = index"
          [class.active]="i === currentImageIndex"
          (click)="goToImage(i)"
        ></span>
      </div>
    </div>

    <div class="info-section">
      <h1>{{ location.name }}</h1>
      <p class="description">{{ location.description }}</p>
      <p class="metrics">
        Flight duration: <strong>{{ location.duration }}</strong><br>
        Start height: <strong>{{ location.height }} m</strong>
      </p>
      <!-- <div class="map">
        <iframe
          width="100%"
          height="300px"
          [src]="API_URL"
          allowfullscreen
        ></iframe>
      </div> -->
    </div>
  </div>
</section>