<section class="locations-section">
  <h1 class="title">Flight locations</h1>
  <div class="locations-container">
    <div *ngFor="let location of locations" class="location-card" routerLink="{{location.id}}">
      <div class="image-container">
        <img [src]="location.image" [alt]="location.name">
      </div>
      <div class="location-info">
        <h2>{{ location.name }}</h2>
        <p>{{ location.description }}</p>
        <span class="details">Duration: {{ location.duration }} | Height: {{ location.height }} m</span>
      </div>
    </div>
  </div>
</section>