<section class="services">
  <div class="services-container">
    <h2 class="title">Our services</h2>
    <div class="service-cards">
      <div 
        class="service-card" 
        *ngFor="let service of services; let i = index"
        [class.flipped]="flippedCards[i]"
        (click)="toggleFlip(i)"
      >
        <div class="card-inner">
          <div class="card-front">
            <img [src]="'/assets/images/not-found.png'" [alt]="service.title" />
            <div class="content-wrapper">
              <h3>{{ service.title }}</h3>
              <p>{{ service.description }}</p>
            </div>
          </div>
          <div class="card-back" [attr.data-bg-image]="'/assets/images/not-found.png'">
            <div class="back-content">
              <h4>{{ service.title }}</h4>
              <p>{{ service.details }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>