body {
  margin: 0;
}

* {
  font-family: 'Montserrat', 'Roboto', sans-serif;

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  a, p {
    font-size: 1.6rem;
  }

  span {
    font-size: 1rem;
  }
}